body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1 1 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-container {
    background: #1F2937;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 160px 120px 160px;

}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 24px;
}


ul a {
    font-size: 18px;
    color: #E5E7EB;
}

a,
a:visited {
    text-decoration: none;
}


.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 160px 120px 160px;
}

.intro .left {
    width: 400px;
}

#heading-top {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
    line-height: 95%;
}

#heading-desc {
    font-size: 16px;
    color: #E5E7EB;
    margin: 8px 0px;
    padding: 0px;
}

#sign-up {
    background:  #3882F6;
    width: 120px;
    height: 32px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin-top: 6px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#sign-up:hover,
#sign-up-action:hover {
    background: orange;
    opacity: 90%;
}

.intro .right {
    background: gray;
    width: 500px;
    height: 250px;
}

.mid-container {
    background: #F9FAF8;
}

.heading-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.images-container .mid-image {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-container .texts {
    font-size: 14px;
    color: #1F2937;
    text-align: center;
    margin-top: 6px;
}

.images-container img {
    width: 125px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.bot-container-1 {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.bot-container-1 > .quotes {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 820px;
    align-self: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

.bot-container-1 > .author {
    display:flex;
    font-size: 16px;
    font-weight: bolder;
    color: #1F2937;
    width: 820px;
    justify-content: flex-end;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 80px;
}

.bot-container-2 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.bot-container-2 > .box-container {
    background: #3882F6;
    width: 700px;
    padding: 40px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    border-radius: 10px;
}

#action-title {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
    margin: 4px 0px;
}

#action-desc {
    color: #E5E7EB;
    font-size: 14px;
    margin: 0px;
}

#sign-up-action {
    width: 90px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: #E5E7EB solid 2px;
    border-radius: 6px;
    cursor: pointer;
}

.footer {
    background: #1F2937;
}

.footer > p {
    color: #E5E7EB;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer a {
    padding-left: 4px;
    color: #E5E7EB;
}